.photo-review {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	/*background-color: black;
	*/
	padding: 5px;
}

.photo-review img {
	width: inherit;
	height: inherit;
}

.photo-review img:hover {
	opacity: 0.5;
}