<!DOCTYPE html>
<html ng-app="galleryOnline">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
	<title>Gallery Online</title>
	<link rel="stylesheet" type="text/css" href="css/gallery-online.css">
	<link rel="stylesheet" type="text/css" href="manage-block/manage-block.css">
	<link rel="stylesheet" type="text/css" href="photo-review/photo-review.css">

	<script src="js/angular.min.js"></script>
	<script src="manage-block/manage-block.module.js"></script>
	<script src="manage-block/manage-block.component.js"></script>
	<script src="photo-review/photo-review.module.js"></script>
	<script src="photo-review/photo-review.component.js"></script>
	<script src="js/gallery-online.module.js"></script>
	<script src="js/gallery-online.controller.js"></script>
</head>
<body ng-controller="GalleryOnlineController">

<div class="gallery-online-background">

	<div class="gallery-online-content-div">
		<img ng-src="{{mainImageUrl}}" alt="Some test photo" ng-click="clickImage()">
	</div>

	<manage-block></manage-block>

	<div class = "gallery-online-navigate-div">
		<photo-review ng-repeat="val in [1,2,3,4,5,6,7,8]"></photo-review>
	</div>
</div>


</body>
</html>