.verify-action-dialog-back {
	position: absolute;
	width: 95%;
	margin: auto;
	top: 40%;
	z-index: 100;
}
.verify-action-dialog {
	width: 100px;
	border-radius: 5px;
	position: relative;
	display: block;
	background-color: #789;
	position: relative;
	margin: auto;
	padding: 5px;
	align-items: center;
}
.verify-action-dialog button {
	margin-top: 5px;
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

