.manage-div {
	margin: auto;
	margin-top: 10px;
	width: 90px;
	height: 40px;
}

.element-manage-div {
	padding: 5px;
	float: left;
	width: 20px;
	height: 20px;
	margin: auto; 
}
.element-manage-div button,img {
	margin: auto;
	width: 100%;
	height: 100%;
}
.element-manage-div:hover {
	opacity: 0.5;
}