<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    	<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
            <remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
        </staticContent>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Rule1">
                    <match url="^App/services/.*\.php$" />
                    <action type="Rewrite" url="entry.php" appendQueryString="true" />
                    <conditions trackAllCaptures="true">
                    </conditions>
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/App/services/*" />
            </rewriteMaps>
        </rewrite>
        
    </system.webServer>
</configuration>
